* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#coding {
    transition: transform 0.5s;
}

#coding:hover{
    transform: scale(2);
}

article section{
    position: absolute;
    width: 500px;
    top: 2.44em;
    background-color: rgb(27, 27, 27);
}