* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

#bg {
  top: 0;
  left: 0;
  opacity: 65%;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  overflow: hidden;
}

#bluecontainer:hover h2 {
  color:#5f7aff;
  transform: scaleY(1.6) 
}

#pinkcontainer:hover h2 {
  color: #ff307d;
  transform: scaleY(1.6) 
}

#orangecontainer:hover h2 {
  color:#ff6542;
  transform: scaleY(1.6) 
}




nav{
  position: absolute;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

body {
  background-color: #060b1f;
}

#pink{
  background-color: #ff307d; 
  display: grid;
  justify-items: center;
}

div svg {
  width: 15em;
  height: 15em;
}

/* text */

a {
  color: #ff307d;
  font-size: 20px;
}

a:hover {
  color: white;
}

h1 {
  color: #060b1f;
  font-family: "Manrope", serif;
  text-align: center;
  font-size: 45px;
  
}

h2 {
  color: white;
  font-family: "Manrope", serif;
  font-size: 40px;
}

h3 {
  color: white;
  font-family: "Manrope", serif;
  font-size: 40px;
  padding-bottom: 1em;
}



article div p {
  font-size: 20px;
  font-family: "Cormorant Garamond";
  color: white;
}

#bluecontainer {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 1em;
  padding-bottom: 4em;
  padding-top: 4em;
}

#bluecontainer p {
  padding-top: 1em;
}

#orangecontainer p {
  padding-top: 1em;
}

#pinkcontainer p {
  padding-top: 1em;
}

#orangecontainer{
  display: grid;
  grid-template-columns: 1fr ;
  gap: 1em;
  padding-bottom: 4em;
  padding-top: 4em;
}

#pinkcontainer{
  display: grid;
  grid-template-columns: 1fr ;
  gap: 1em;
  padding-bottom: 4em;
  padding-top: 4em;
}

#drake {
  border: 15px solid #5f7aff;
  width: 100%;
}  

#cudi {
  border: 15px solid #ff6542;
  width: 100%;
}

#menitrust{
   border: 15px solid #ff307d;
   width: 100%;
}


#song1{
  color: #060b1f;
  font-family: "Manrope", serif;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr;
  display: inline-flex;
  text-align: center;background-color:#ff6542;padding: 15px;border-radius: 1em;
}

#song2{
  color: #060b1f;
  font-family: "Manrope", serif;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  display: inline-flex;
  text-align: center;background-color: #ff307d;padding: 15px;border-radius: 1em;
}

#song3{
  color: #060b1f;
  font-family: "Manrope", serif;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr;
  display: inline-flex;
  text-align: center;background-color:#5f7aff;padding: 15px;border-radius: 1em;

}

#contact {
  color: #060b1f;
}

footer {
  background-color: #ff307d;
  text-align: center;
  font-family: "Manrope";
  font-weight: 400;
  padding: 1em;
}

/* transition */

img{
  transition: opacity 400ms;
  width: 200px;
  height: auto;
}


figure{
position: relative;
}

figure .visible{
  opacity: 1;
  position: relative;
} 

figure .hidden{
  opacity: 0;
  position: absolute;
  top:0;
  left: 0;
} 

article:hover .hidden{
  opacity: 1;
}

figure:hover .visible{
  opacity: 0;
}

/* medium screen */

@media screen and (min-width: 800px ) {
  #bluecontainer {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (min-width: 800px ) {
  #pinkcontainer {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (min-width: 800px ) {
  #orangecontainer {
    grid-template-columns: 1fr 1fr;
  }
  
}


/* large screen */

@media screen and (min-width: 1200px ) {
  #artist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding-left: 1em;
  }
  
}

@media screen and (min-width: 1200px ) {
  #music {
    text-align: center;
    align-content: center;
    font-size: 80px;
    
  }
  
}




