header {
    overflow: hidden;
}

body{
  background-color: #f2fcd5;
}

header svg {
    width: 300vw;
}

.move-right{
    transform: translateX(70vw);
  }

.st0{fill:#f2fcd5;}

.st1{fill:#503fe6;}

.st2{fill:hsl(184, 79%, 57%);}

.st3{fill:#bb15c4;}

.st4{fill:#b3264e;}

/* animation styles */


#purple-pink-2{
    animation: wavemaker 19s ease-in-out infinite alternate-reverse;
}
  
#light-pink-2{
    animation: wavemaker 14s ease-in-out infinite alternate;
}
  
#red-pink-4{
    animation: wavemaker 17s ease-in-out infinite alternate-reverse;
}
  
#pastel-pink-5{
    animation: wavemaker 12s ease-in-out infinite alternate;
}
  
@keyframes wavemaker {  
0% {
    transform: translateX(-4vw);
}
100% {
    transform: translateX(-10vw);
}
    
}