*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#mountain, #flower, #pinkmountain {
    transition: transform 0.5s;
}

#mountain:hover {
    transform: rotate(10deg);
}

#flower:hover{
    transform: scale(1.2);
}

.move-right {
    transform: translateX(900px);
}

article section{
    position: absolute;
    width: 500px;
    top: 2.44em;
    background-color: rgb(27, 27, 27);
}

img {
    width: 300px;
}

#pinkmountain {
   transform:  alternate-reverse;
}

