* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 2rem;
    gap: 1rem;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

#banner{
    width: 100%;
    object-fit: cover;
    height: 25vh;
    display: block;

}

h1 {
    font-size: 30px;
    font-family: cursive;
    color: #313648;
}

 
#logo {
    height: 60px;
    margin-left: 5px;
}


nav {
  overflow: hidden;
  justify-self: right;
   
}

a {
    color: #9D0822;
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    color: #313648;
}
#recipes{
    background: url(img/opacity.png);
}

h2 {
    background-color: #313648;
    color: #eaeaea;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

main{
    background-color: #eaeaea;
}

#about{
    display: grid;
    grid-template-columns: 1fr ;

}

p {
    margin: auto 2rem;
    padding: 1rem;
}

#me{
    width: 100%;
    padding: 1rem;
}

footer {
    color: #eaeaea;
    background-color: #9D0822;
    padding: 1rem;
}

