* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 2rem;
    gap: 1rem;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

#back{
    background-image: url(img/baking-background-bake-ingredients-banner-600nw-1023321979.webp);
    width: 100%;
    background-size: cover;
    height: 25vh;
    display: block;
}

h1 {
    font-size: 20px;
    font-family: cursive;
    color: #313648;
}

h4 {
    font-family: pacifico;
    color: #313648;
    font-size: 50px;
    text-align: center;
    padding: 5rem;
    
}

h5 {
    color: #eaeaea;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    font-size: 25px;
}
 
#logo {
    height: 60px;
    margin-left: 5px;
}


nav {
  overflow: hidden;
  justify-self: right;
   
}

a {
    color: #9D0822;
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    color: #313648;
}

#recipes{
    background: url(img/opacity.png);
}

h2 {
    background-color: #313648;
    color: #eaeaea;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

main{
    background-color: #eaeaea;
}

#about{
    display: grid;
    grid-template-columns: 1fr ;
    padding-bottom: 3rem;

}

p {
    
    padding: 1rem;
}

#me{
    width: 100%;
    padding: 1rem;
}

footer {
    color: #eaeaea;
    background-color: #9D0822;
    padding: 1rem;
}


#cherry {  
    animation-name: rotate;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    from {
        transform:rotate(-30deg);
    }
    to {
        transform:rotateY(0deg);
    }
}


   @media screen and (min-width:925px) {
    #me {
      max-width: 50%;
      align-content: center;
      margin: auto;
  }}