* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 2rem;
    gap: 1rem;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

h1 {
    font-size: 30px;
    font-family: cursive;
    color: #313648;
}

#logo {
    height: 60px;
    margin-left: 5px;
}


nav {
  overflow: hidden;
  justify-self: right;
   
}

a {
    color: #9D0822;
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    color: #313648;
}

h2 {
    background-color: #313648;
    color: #eaeaea;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

h3 {
    color: #313648;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
   
    
}

h4 {
    color: #313648;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  
}

p {
    color: #313648;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

#recap {
 padding-top: 2rem;
 padding-bottom: 2rem;
}

article {
    margin-left: 3rem;
}

li {
    list-style: square;
    list-style-position: inside;
}