*{

   margin: 1px;
   padding: 5px;
   box-sizing: border-box;   
  
}

html {
   scroll-behavior: smooth;
   width: 100%;
   overflow-x: hidden;
}

body{
   background-color: rgb(214, 164, 192);
}


a:hover {
  color: rgb(4, 113, 255);
}

h1{
   font-size: 40px;
   letter-spacing: 5px;
   padding-bottom: 40px;
   text-decoration: underline; 
   
}

body {
   font-size: 23px;
}
